# Exclude virtual environment
.venv/
# Django specific
*.pyc
__pycache__/
db.sqlite3
media/

# IDE specific
.idea/
*.iml

# Logs and temporary files
*.log
*.swp
/venv/
media/pet_images/caine.jpg
media/pet_images/
