{% load i18n %}
{% for app in app_list %}
    {% if app.name != 'Authentication and Authorization' %}
        <div class="app-main">
            <h2>
                {% if user.is_superadmin and app.name == "Main" %}
                    {% translate "Manage Users" %}
                {% elif user.is_admin and app.name == "Main" %}
                    {% translate "User Administration" %}
                {% else %}
                    {{ app.name }}
                {% endif %}
            </h2>
            <table>
                <tbody>
                    {% for model in app.models %}
                        {% if user.is_superadmin or user.is_admin %}
                            <tr>
                                <th scope="row">
                                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                                </th>
                                <td class="model-add">
                                    <a href="{{ model.add_url }}" class="addlink">{% translate "Add" %}</a>
                                </td>
                                <td class="model-change">
                                    <a href="{{ model.admin_url }}" class="changelink">{% translate "Change" %}</a>
                                </td>
                            </tr>
                        {% else %}
                            <!-- Normal users might not see these options -->
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endfor %}
