{% load i18n %}
{% for app in app_list %}
    {% if app.name == "Manage Users" %}
        <div class="app-main">
            <h2>
                {{ app.name }}
            </h2>
            <table>
                <tbody>
                    {% for model in app.models %}
                        {% if model.object_name == "User" %}
                            <tr>
                                <th scope="row">
                                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                                </th>
                                <td class="model-add">
                                    <a href="{{ model.add_url }}" class="addlink">{% translate "Add" %}</a>
                                </td>
                                <td class="model-change">
                                    <a href="{{ model.admin_url }}" class="changelink">{% translate "Change" %}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endfor %}

{% if user.is_superadmin %}
    <div class="app-main">
        <h2>
            Manage Posts
        </h2>
        <table>
            <tbody>
                <tr>
                    <th scope="row">
                        <a href="{% url 'admin_manage_posts' %}?archived=0">Active Posts</a>
                    </th>
                    <td class="model-add">
                        <span class="addlink">{% translate "View" %}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="{% url 'admin_manage_posts' %}?archived=1">Archived Posts</a>
                    </th>
                    <td class="model-add">
                        <span class="addlink">{% translate "View" %}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}
