{% extends 'main/base.html' %}
{% block title %}Create {{ post_type }} Post{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow" style="width: 36rem; padding: 20px; border-radius: 10px;">
        <div class="card-body">
            <h2 class="card-title text-center">Create a {{ post_type }} Post</h2>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_images" class="form-label">Upload Images</label>
                    <input type="file" name="images" id="id_images" class="form-control" multiple>
                    <small class="form-text text-muted">You can upload multiple images of the pet.</small>
                </div>
                <div class="mb-3">
                    {{ form|crispy }}
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}